extends ./layouts/common
block content
  .container
    h1 Books
    a(href="/books/addBook", class="btn btn-primary") Add a new book
    table.table.table-bordered.mt-3
      thead
        tr
          th(scope='col') Action
          th
          th(scope='col') Book
          th(scope='col') Book Cover
      tbody
      each book, index in books
        tr
          td(class="w-25")
            a(href="books/update/" + book.id)
              i(class="fas fa-pen")
            a(href="books/delete/" + book.id, class="ml-3")
              i(class="far fa-trash-alt", style="color: red")
            a(href="cart/add/" + book.id, class="ml-3")
              i(class="fas fa-cart-plus", style="color: green")
          td=`${start + index + 1}`
          td=book.title
          if book.bookCoverUrl 
            td
              img(src=book.bookCoverUrl style="width: 40px;")
          else 
            td
              img(src='https://cdn.glitch.com/6553f78d-3d9d-4d44-94db-46ae68d9c495%2FbookDetail.jpg?v=1592970426313' ,style="width: 40px")
    nav
      ul.pagination.justify-content-center
        li.page-item
          a.page-link(href='/books?page='+1, aria-label='Previous')
            span(aria-hidden='true') &laquo;
            span.sr-only Previous
        if page==1
          li.page-item.active
            a.page-link(href='/books?page=' + 1) 1
          li.page-item
            a.page-link(href='/books?page='+ `${page + 1}`)=`${page + 1}`
          li.page-item
            a.page-link(href='/books?page='+ `${page + 2}`)=`${page + 2}`
        if (page > 1 && page <maxPage)
          li.page-item
            a.page-link(href='/books?page=' + `${page - 1}`)=`${page - 1}`
          li.page-item.active
            a.page-link(href='/books?page='+ page)=page
          li.page-item
            a.page-link(href='/books?page='+ `${page + 1}`)=`${page + 1}`
        if page==maxPage
          li.page-item
            a.page-link(href='/books?page=' + `${page - 2}`)=`${page - 2}`
          li.page-item
            a.page-link(href='/books?page=' + `${page - 1}`)=`${page - 1}`
          li.page-item.active
            a.page-link(href='/books?page='+ page)=page
        li.page-item
          a.page-link(href='/books?page='+maxPage, aria-label='Next')
            span(aria-hidden='true') &raquo;
            span.sr-only Next